[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
gensim = "*"
pyldavis = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"
bertopic = "*"
sentence-transformers = "*"
umap-learn = "*"
hdbscan = "*"
scikit-learn = "*"
openai = "*"
apscheduler = "*"
python-dotenv = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.12"
